@model TrabajoIntegralSofttekFront.ViewModels.UsuarioViewModel


<div class="modal fade" id="usuarioModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Alta y/o modificación de Usuarios.</h5>
            </div>
            @using (Html.BeginForm("GuardarUsuario", "/Usuarios", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-4 form-control-label">Nombre</label>
                            @Html.EditorFor(x=> x.Nombre, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                        </div>
                        <div class="col-md-6 mt-1 mb-3">
                            <label class="col-md-2 form-control-label">Dni</label>
                            @Html.EditorFor(x=> x.Dni, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                        </div>
                    </div>
                    <div class="col-md-6 mt-1 mb-3">
                        <label class="col-md-2 form-control-label">Email</label>
                        @Html.EditorFor(x=> x.Email, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-1 mb-3">
                        <label class="col-md-5 form-control-label">Clave</label>
                        @Html.EditorFor(x=> x.Clave, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mt-1 mb-3">
                        <label class="col-md-5 form-control-label">Rol</label>
                        @Html.EditorFor(x=> x.CodRol, new {htmlAttributes = new {@class = "col-md-8 form-control" } })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success" id="btnGuardar">Guardar</button>
                </div>
            }
        </div>
    </div>
</div>